@property --bg-color {
  syntax: "<color>";
  initial-value: rgba(241, 156, 157, 1);
  inherits: false;
}

.home {
  height: 100vh;
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, rgba(218, 214, 213, 1) 10%, var(--bg-color) 100%);
  transition: --bg-color 0.3s cubic-bezier(0.11, 0, 0.5, 0);
  overflow: hidden;
}
.home.grey {
  --bg-color: rgb(154, 178, 188);
}

.home .noise {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background-image: url(../public/noise.png);
}

.home nav {
  position: absolute;
  top: 20px;
  left: 60px;
}
.home nav h2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.item-image {
  position: absolute;
  bottom: 0%;
  left: 40%;
  transform: translateX(-50%);
  height: 126%;
  width: 960px;
}

.home .bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 59.3%;
  height: 44%;
  transition: 0.5s;
  background-color: #e43f39;
}
.home .bg.pink {
  background-color: #e43f39;
}
.home .bg.grey {
  background-color: #546267;
}

.arrows {
  position: absolute;
  left: 6%;
  bottom: 10%;
  display: flex;
  z-index: 3;
}
.arrows button:first-of-type {
  margin-right: 40px;
}
.arrows button {
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: unset;
  outline: unset;
  border: 2px solid rgba(255, 255, 255, 0.33);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.arrows button:hover {
  border: 2px solid white;
}
.arrows button img {
  width: 60px;
  height: 60px;
}

@media (max-width: 1200px) {
  .left-text {
    z-index: 2;
  }
  .left-text .number span {
    font-size: 140px;
    line-height: 150px;
  }
  .left-text .number span:not(:first-of-type) {
    left: 100px;
  }
  .left-text p {
    font-size: 14px;
    width: 300px;
  }
  .right-text {
    position: absolute;
    right: 24px;
    top: unset;
    bottom: 4%;
    z-index: 0;
  }
  .right-text h2,
  .right-text span {
    font-size: 120px;
    line-height: 120px;
  }
  .right-text h2 div {
    height: 120px;
  }
  .item-image {
    width: 790px;
    height: 100%;
  }
  .image-hair,
  .image-head {
    z-index: 1;
  }
  .item-image {
    left: 30%;
  }
}

@media (max-width: 765px) {
  .home nav {
    left: 24px;
  }
  .home nav h2 {
    font-size: 16px;
  }
  .left-text .number span {
    font-size: 120px;
    line-height: 120px;
  }
  .left-text .number span:not(:first-of-type) {
    left: 90px;
  }
  .left-text .number {
    margin-bottom: 10px;
  }
  .left-text p {
    font-size: 12px;
    width: 100%;
    line-height: 24px;
  }
  .item-image {
    left: 20%;
    width: 600px;
    height: 80%;
  }
  .right-text h2,
  .right-text span {
    font-size: 80px;
    line-height: 80px;
  }
  .right-text h2 div {
    height: 80px;
  }

  .right-text {
    right: 16px;
    bottom: 16%;
    z-index: 1;
  }
  .left-text {
    z-index: 2;
    top: 8%;
  }

  .arrows {
    bottom: 4%;
  }
  .arrows button:first-of-type {
    margin-right: 20px;
  }
  .arrows button {
    width: 60px;
    height: 60px;
  }
  .arrows button img {
    width: 30px;
    height: 30px;
  }
}
